<div class = "headerSection">
    <div class = "logo">
        <h1>{{title}}</h1>
    </div>
    <div class = "search">
        I am looking for <div class="keywordBox"></div>
        in <div class="areaDropdown"></div>
    </div>
</div>
