<div class = "headerSection">
    <div class = "logo">
        <h1>{{title}}</h1>
    </div>
    <div class = "search">
        <div class="keywordLabel">I am looking for</div>
        <div class="keywordBox"></div>
        <div class="areaLabel">around</div>
        <div class="areaDropdown"></div>
    </div>
</div>
