## NPM
node_modules

## Bower
bower_components

## log fiels and forever files
logs/forever.err
logs/forever.out
logs/node.log
pids/app.pid

## Project Built Files
public/js
public/css
public/img/vendor/
build

## IntelliJ
.idea
*.iml

##File System
.DS_Store