<div class = "logo">
    <h1>CityTrack</h1>
</div>
<div class = "search">
    <div class="type-box" ng-controller="TypeSelectController">
        <selectize options='types' ng-model="selectedTypeId" config="config"></selectize>
    </div>
    <div class="keyword-box" ng-controller="KeywordController" ng-hide="shouldHide()">
        <input type="text" ng-model="keyword" ng-keypress="processKeyPress($event)" placeholder="What..."/>
    </div>
    <div class="category-box" ng-controller="CategorySelectController" ng-show="shouldShow()">
        <selectize options='categories' ng-model="selectedCategory" config="config"></selectize>
    </div>
    <div class="area-select" ng-controller="AreaSelectController"  ng-keypress="processKeyPress($event)">
        <div ng-show="isCircleArea()" class="around">
            <div class="radius-description">Around</div>
        </div>
        <div class="input-container">
            <selectize options="areas" ng-model="selectedAreaId" config="config"></selectize>
        </div>
        <div ng-show="isCircleArea()" class="around">
            <div class="radius-description">within</div>
            <input type="number" min="0" class="radius-input" ng-model="radius"/>
            <div class="radius-description">km</div>

        </div>
    </div>
    <div class="search-button" ng-controller="SearchButtonController">
        <a href="" ng-click="search()" ng-enabled="active"
                ng-class="{active: active, inactive:(!active)}"
                ng-hide="loading">
            <i class="fa fa-search"></i>
        </a>
        <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
    </div>
</div>
