<div class="row">
    <div class="info">
        <div class="title">{{data.label}}</div>
        <div class="categories">
            <span ng-repeat="category in data.categories track by $index" class="category">
                {{category}}
            </span>
        </div>
        <div class="description" ng-bind-html="data.description"></div>
        <div class="source">
            Origin: <a href="{{data.url}}" target="_blank">{{ data.source }}</a>
        </div>
    </div>
    <div class="image">
        <img ng-src="{{data.mainPhoto}}" err-src="img/no_image_available.jpg"/>
    </div>
</div>
