<div class="row">
    <div class="info">
        <div class="title">{{data.label}}</div>

        <div class="categories" ng-if="!isStreet()">
            <span ng-repeat="category in data.categories track by $index" class="category">
                {{category}}
            </span>
        </div>

        <div class="categories" ng-if="isStreet()">
            <span class="category">
                {{data.streetType}}
            </span>
        </div>

        <div class="description" ng-if="!isStreet()">
            <img class="description-image" ng-if="isMap()" ng-src="{{data.mainPhoto}}" err-src="" />
            <span ng-bind-html="data.description"></span>
        </div>

        <div class="description" ng-if="isStreet()">
            <p>{{data.label}} has <strong>{{data.poiCount}}</strong> POIs around matching the selected criteria.
                (<strong>{{formattedDensity()}}</strong>/m)</p>
        </div>

        <!-- Display only for map and if there are more than 1 photos for the feature -->
        <div class="photos" ng-if="isMap() && hasMorePhotos() && !isStreet()">
            <div class="title">
                More Photos
            </div>
            <a ng-repeat="photo in data.extraPhotos" href="{{photo}}" target="_blank">
                <img ng-src="{{photo}}" class="photo" err-src="img/no_image_available.jpg"/>
            </a>
        </div>

        <div class="photos" ng-if="isMap() && isStreet()">
            <div class="title">
                Related Photos
            </div>
            <div class="photo-bucket" ng-show = "extras.diversePhotos.length > 0 && extras.diversePhotos !== 'loading'">
                <a ng-repeat="photo in extras.diversePhotos" href="{{photo.properties.url}}" target="_blank">
                    <img ng-src="{{photo.properties.url}}"
                         err-src=""
                         class="photo" />
                </a>
            </div>
            <div class="no-photos" ng-show="extras.diversePhotos.length === 0">
                No photos for this street :(
            </div>

            <div class="loading" ng-show="extras.diversePhotos === 'loading'">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
        </div>

        <div class="source" ng-if="!isStreet()">
            Origin: <a href="{{data.url}}" target="_blank">{{ data.source }}</a>
        </div>

        <div class="actions" ng-controller="ResultActionController" ng-if="isMap()">
            <div class="title">Actions</div>
            <div class="street-actions" ng-if="isStreet()">
                <div class="action" ng-click="getPoisForStreet(data.id)">
                    <i class="fa" ng-class="{'fa-map-marker':!loading, 'fa-spinner':loading, 'fa-spin':loading}"></i>
                    <span class="label">Get POIs</span>
                </div>
            </div>
        </div>
    </div>

    <div class="result-image" ng-if="isResult() && !isStreet()">
        <img ng-src="{{data.mainPhoto}}" err-src=""/>
    </div>
</div>
