@import "variables";
@import "mixins";

.headerSection {
    .clearfix();
    padding: @gutter-size;
    background: #333;
    color: #EEE;

    .logo {
        float: left;
        margin-left: 30px;

        h1 {
            margin: 8px 0;
            font-size: 26px;
        }
    }

    .search {
        margin: 4px 0 0 4* @gutter-size;
        float: left;
        font-size: 16px;
        color: #AAA;
        .clearfix();

        > div {
            float: left;
            margin-left: 8px;
            margin-right: 8px;
        }

        .keywordLabel {
            margin-top: 10px;
        }

        .keywordBox {
            .searchDropdown {
                float:left;
                width: 150px;
            }
        }

        .areaLabel {
            margin-top: 10px;
        }

        .areaDropdown {
            .searchDropdown {
                float:left;
                width: 150px;
            }
        }
    }
}
