@import "variables";
@import "mixins";

.header-section {
    .clearfix();
    position: fixed;
    top: 0;
    width: 100%;
    min-width: @min-width;
    z-index: 2000;
    box-sizing: border-box;
    padding: @gutter-size;
    background: @header-background;
    color: @header-color;
    height: @header-height;

    .logo {
        float: left;
        padding-top: 5px;

        .logo-icon {
            height: 30px;
        }

        h1 {
            display: inline;
            color: @logo-color;
            margin: 0 10px;
            font-size: 28px;
        }
    }

    .search {
        margin: 4px 0 0 4* @gutter-size;
        float: left;
        font-size: 16px;
        color: @input-text-color;
        .clearfix();

        > div {
            float: left;
            margin-left: 8px;
            margin-right: 8px;
        }

        .type-box {
            .fa {
                font-size: @type-symbol-size;
                &.fa-photo {
                    color: @photo-color;
                    padding: 0;
                }
                &.fa-map-marker {
                    color: @map-marker-color;
                    padding: 0 6px;
                }
                &.fa-calendar {
                    color: @calendar-color;
                    padding: 0 2px;
                }
                &.fa-road {
                    color: @street-color;
                }

                &.fa-dot-circle-o {
                    color: @regions-color;
                    padding: 1px 4px;
                }

                &.fa-stack-2x.fa-photo {
                    font-size: 16px;
                    text-align: right;
                    padding-top: 9px;
                }
                &.fa-stack-2x.fa-map-marker {
                    font-size: 20px;
                    text-align: center;
                    padding-top: 6px;
                }
            }

            .selectize-input {
                padding: @type-padding;
                width: @type-width;
                cursor: pointer;
                &:after {
                    display: none; // Hides the dropdown arrow
                }
                input {
                    visibility: hidden;
                    height: 0;
                    cursor: pointer;
                }
            }

            .type-entry {
                & > span {
                    margin-right: 5px;
                }
            }
        }

        .keyword-box {
            input {
                background: @input-background;
                border: none;
                border-radius: 3px;
                padding: 9px;
                font-size: 13px;
                color: @input-text-color;
                outline-color: @input-background + 20;
            }
        }

        .category-box {
            .selectize-input {
                min-width: 158px;
            }
        }

        .area-select {
            .around {
                float: left;
                .radius-input {
                    float: left;
                    width: 50px;
                    background: @input-background;
                    border: none;
                    border-radius: 3px;
                    padding: 9px;
                    font-size: 13px;
                    color: @input-text-color;
                    outline-color: @input-background + 20;
                }
                .radius-description {
                    float: left;
                    margin: 8px 5px 0 5px;
                    font-size: 14px;
                }
            }
            .input-container {
                float: left;
            }
            .selectize-input {
                min-width: 250px;
            }
        }

        .search-button {
            a {
                outline-color: @input-background + 20;
                &.active {
                    cursor: pointer;
                    color: @search-active-color;
                }
                &.inactive {
                    cursor: default;
                    color: @search-inactive-color;
                }
            }
            i {
                font-size: 25px;
                padding: 6px;

                &.fa-spin {
                    color: @search-active-color;
                }
            }
        }

        .extra-params {
            .extra-params-button {
                a {
                    outline-color: @input-background + 20;
                    cursor: pointer;
                    color: #020202;

                }
                i {
                    font-size: 25px;
                    padding: 6px 6px 4px 6px;
                    &:hover {
                        background: @input-background - 1;
                        .border-radius(5px);
                    }
                    &.visible {
                        color: #EEE;
                        background: @input-background - 1;
                        .border-radius(5px);
                    }
                }
            }
            .extra-params-popup {
                @popup-width: 300px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                position: fixed;
                left: 50%;
                top: @header-height + 10;
                margin-left: -(@popup-width / 2);

                height: 200px;
                width: @popup-width;

                padding: 10px;
                overflow-y: scroll;

                background: @header-background;
                .border-radius(10px);

                h3 {
                    margin: 0;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .param-box {
                    margin-bottom: 5px;
                    .param-label {
                        display: inline-block;
                        width: 150px;
                        font-size: 14px;
                    }

                    .param-input {
                        float: none;
                        display: inline;
                        width: 50px;
                        background: @input-background;
                        border: none;
                        border-radius: 3px;
                        padding: 9px;
                        font-size: 13px;
                        color: @input-text-color;
                        outline-color: @input-background + 20;
                    }

                    .param-unit {
                        display: inline;
                        font-size: 12px;
                    }
                }
            }
        }

        .selectize-control {
            .selectize-input {
                background: @input-background;
                border: none;
                color: @input-text-color;

                input {
                    color: @input-text-color;
                }
            }
            .selectize-dropdown {
                background: @input-background;
                border: none;
                z-index: 2000;
                color: @input-text-color;

                .active {
                    background: @input-background + 20;
                    color: @input-text-color;
                }

                [data-selectable] {
                    padding: @type-padding;
                }

                .optgroup-header {
                    background: @input-background + 80;
                    color: @input-background - 80;
                    font-size: 12px;
                }
            }
        }
    }
}
