.clearfix() {
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.shadow(@x, @y, @blur, @color) {
    box-shadow: @x @y @blur @color;
    -webkit-box-shadow: @x @y @blur @color;
    -moz-box-shadow: @x @y @blur @color;
}

.border-radius(@v) {
    -webkit-border-radius: @v;
    -moz-border-radius: @v;
    border-radius: @v;
}