@import "mixins";
@import "variables";

.result-section {

    .rows {
        .row {
            .clearfix();
            padding: 2%;
            margin-bottom: 2%;
            min-height: @result-img-size;

            &:hover {
                background: @hover-background;
                cursor: pointer;
            }

            &.selected {
                background: @selected-background;
                &:hover {
                    background: @selected-background;
                }
            }

            .result-image {
                .clearfix();
                box-sizing: border-box;
                float: right;
                position: relative;
                width: 25%;

                img {
                    position: absolute;
                    right: 0;
                    height: @result-img-size;
                    width: @result-img-size;
                }
            }

            .info {
                box-sizing: border-box;
                width: 75%;
                float: left;
                .title {
                    font-size: 16px;
                    color: @result-title-color;
                    margin-bottom: 2%;
                }

                .categories {
                    font-size: 12px;
                    margin-bottom: 1.5%;
                    .category {
                        color: @category-color;
                        background: @category-background;
                        padding: 2px;
                        margin-right: 5px;
                        .border-radius(3px);
                        .shadow(1px, 1px, 2px, #666);
                    }
                }

                .description {
                    padding: 1% 0;
                    margin-bottom: 0.5%;
                    font-size: 12px;
                    color: @description-color;
                }

                .source {
                    color: @source-color;
                    padding-top: 1%;
                    font-size: 12px;
                    border-top: 1px solid #DDD;

                    a {
                        color: @source-link-color;
                    }
                }
            }
        }

        .paginator {
            background: @header-background + 150;
            text-align: center;
            padding: 5px;
            margin: 10px;
            a {
                text-decoration: none;
                color: #6061ff;
            }

            .paginator-end {
                color: @description-color;
            }
        }
    }

    .no-rows {
        padding: 10px;
        text-align: center;
        color: @description-color;
        i {
            font-size: 20px;
        }
    }

    .error {
        padding: 10px;
        text-align: center;
        color: @description-color;
        i {
            color: @error-icon-color;
            font-size: 20px;
        }
    }
}