@gutter-size: 10px;
@min-width: 800px;

// HEADER
@header-height: 60px;
@header-background: #525252;
@header-color: #EEE;
@logo-color: #FFF;
@input-text-color: #333;

@search-active-color: #0e0e0e;
@search-inactive-color: #727272;

@optgroup-background-color: #E7E7E7;
