@import "../mixins";
@import "../variables";

.leaflet-popup-content {
    margin: 15px;
    font-size: 12px;
    .row {
        .title {
            color: @result-title-color;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .categories {
            margin-bottom: 7px;
            .category {
                background: @category-background;
                padding: 2px;
                margin-right: 5px;
                .border-radius(3px);
                .shadow(1px, 1px, 2px, #666);
            }
        }

        .description {
            margin-bottom: 5px;
            color: #555;

            .description-image {
                float: left;
                height: 40px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }

        .photos {

            .title {
                font-weight: normal;
                font-size: 12px;
            }

            .clearfix();
            .photo {
                float: left;
                height: 40px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }

        .source {
            border-top: 1px #DDD solid;
            padding-top: 5px;
            width: 100%;
            clear: both;
            color: @source-color;
            a {
                color: @source-link-color;
            }
        }
    }
}
