<div class = "logo">
    <h1>CityTrack</h1>
</div>
<div class = "search">
    <div class="type-box" ng-controller="TypeSelectController">
        <selectize options='types' ng-model="selectedTypeId" config="config"></selectize>
    </div>
    <div class="keyword-box" ng-controller="KeywordController">
        <input type="text" ng-model="keyword" ng-keypress="processKeyPress($event)"/>
    </div>
    <div class="area-select" ng-controller="AreaSelectController"  ng-keypress="processKeyPress($event)">
        <selectize options='areas' ng-model="selectedAreaId" config="config"></selectize>
    </div>
    <div class="search-button" ng-controller="SearchButtonController">
        <a href="" ng-click="search()" ng-enabled="active"
                ng-class="{active: active, inactive:(!active)}"
                ng-hide="loading">
            <i class="fa fa-search"></i>
        </a>
        <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
    </div>
</div>
